@import "tailwindcss";

@font-face {
  font-family: "Bebas";
  src: url(../src/assets/Uni\ Sans\ Heavy.otf);
}

@font-face {
  font-family: "Thins";
  src: url(../src/assets/Uni\ Sans\ Thin.otf);
}

.all-texts {
  font-family: Bebas;
}

.light-font {
  font-family: Thins;
}

::selection {
  background-color: #1b1b1b6b; /* Change to your preferred highlight color */
  color: rgb(255, 255, 255); /* Text color of the selection */
}

.hero-back {
  background-image: linear-gradient(
    to right top,
    #3d0005,
    #5b000f,
    #7b0013,
    #9b0013,
    #bc0010
  );
}

.no-select {
  user-select: none;
}
